In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("./data-2014-2021-fixed.csv")
df = df.drop(columns='Unnamed: 0')

In [20]:
print("Basic Information:")
df.info()

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247330 entries, 0 to 247329
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            247330 non-null  int64
 1   year          247330 non-null  int64
 2   month         247330 non-null  int64
 3   day_of_week   247330 non-null  object
 4   lon           247222 non-null  float64
 5   lat           247222 non-null  float64
 6   vehicle_mass  189952 non-null  float64
 7   Seriousness   247330 non-null  object
dtypes: float64(3), int64(3), object(2)
memory usage: 15.1+ MB

In [19]:
print("\nFirst 5 Rows:")
df.head()

First 5 Rows:

,id,year,month,day_of_week,lon,lat,vehicle_mass,Seriousness
0,6425463,2014,7,Sunnuntai,22.3570,60.4424,1165.0,Ei henkilövahinkoja
1,6425463,2014,7,Sunnuntai,22.3570,60.4424,NaN,Ei henkilövahinkoja
2,6425467,2014,12,Torstai,24.4156,60.9893,NaN,Ei henkilövahinkoja
3,6425467,2014,12,Torstai,24.4156,60.9893,1520.0,Ei henkilövahinkoja
4,6425469,2014,5,Perjantai,NaN,NaN,NaN,Ei henkilövahinkoja

In [21]:
print("\nDescriptive Statistics:")
df.describe()

Descriptive Statistics:

,id,year,month,lon,lat,vehicle_mass
count,2.473300e+05,247330.000000,247330.000000,247222.000000,247222.000000,189952.000000
mean,8.051764e+06,2016.721481,6.720438,24.713982,61.746097,2184.882539
std,1.253157e+06,2.214306,3.512476,1.977760,1.673855,2994.114601
min,6.425462e+06,2014.000000,1.000000,19.083300,59.460000,0.000000
25%,6.783361e+06,2015.000000,4.000000,23.143400,60.425100,1230.000000
50%,7.910968e+06,2016.000000,7.000000,24.892500,61.183300,1426.000000
75%,9.299658e+06,2018.000000,10.000000,25.673400,62.661800,1692.000000
max,1.022082e+07,2021.000000,12.000000,31.588300,70.092500,96000.000000

In [22]:
print("\nData Types:")
df.dtypes

Data Types:

id                int64
year              int64
month             int64
day_of_week      object
lon             float64
lat             float64
vehicle_mass    float64
Seriousness      object
dtype: object

In [23]:
print("\nMissing Values:")
df.isnull().sum()

Missing Values:

id                  0
year                0
month               0
day_of_week         0
lon               108
lat               108
vehicle_mass    57378
Seriousness         0
dtype: int64

In [27]:
df['Seriousness'].value_counts()

Seriousness
Ei henkilövahinkoja          147055
Loukkaantumiseen johtanut     58991
Ei henkilÃ¶vahinkoja          38301
Kuolemaan johtanut             2983
Name: count, dtype: int64

In [28]:
df['day_of_week'].value_counts()

day_of_week
Perjantai      42188
Torstai        37399
Keskiviikko    36603
Tiistai        36467
Maanantai      36432
Lauantai       31424
Sunnuntai      26697
Ei arvoa         120
Name: count, dtype: int64

In [29]:
df['month'].value_counts()

month
11    23801
1     23451
12    22714
9     22263
10    21610
8     21364
5     20582
6     20451
7     20187
2     18413
3     16770
4     15724
Name: count, dtype: int64

In [30]:
df['year'].value_counts()

year
2014    49820
2015    44096
2016    34457
2017    29999
2018    27737
2019    25585
2020    18228
2021    17408
Name: count, dtype: int64

In [32]:
df_dropped = df.dropna(subset=['lon', 'lat'], how='all')

In [33]:
df_dropped.isnull().sum()

id                  0
year                0
month               0
day_of_week         0
lon                 0
lat                 0
vehicle_mass    57317
Seriousness         0
dtype: int64

In [35]:
df_dropped = df_dropped[df_dropped['day_of_week'] != 'Ei arvoa']

In [38]:
df.shape, df_dropped.shape

((247330, 8), (247102, 8))

In [40]:
df_dropped.to_csv("./data-2014-2021-wo-missing.csv", index=False)